body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to bottom, #fdfdfd, #8AC59D);
    height: 100vh;
    background-repeat: no-repeat;
}

/* -------------------------------------------NAVBAR */

header{
    display:flex;
    justify-content: space-between;
}

.logo img{
    position: absolute;
    width: 200px;
    margin-top: -30px;
}

.navbar-area{
    display: flex;
    width: 50%;
    height: 5%;
    justify-content: space-evenly;
    margin: 2.5rem 0rem 0rem 10rem;
    padding: .5rem 0px .5rem 1rem;
    background-color: #114B5F;

}

.navbar-area li {
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    z-index: 1;
    width: 10%;
}

.navbar-area li a:link, 
.navbar-area li a:visited{
    text-decoration: none;
    color: #ffffff;
}

.navbar-area li a:hover{
    background-color: #ffffff;
    color: #114B5F;
    padding: 0.3rem;
}


/* -------------------------------------------SEARCHBAR */
.searchContainer{
    margin: auto;
    margin-top: 2rem;
    position: relative;
    width: 25rem;
    height: 2.5rem;
    border: 4px solid #114B5F;
    padding: 0px 10px;
    border-radius: 50px;
}

.textContainer{
    width: 100%;
    height: 95%;
    vertical-align: middle;
}

.search{
    border: none;
    height: 100%;
    width: 98%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 18px;
    font-family: "Nunito";
    color: #114B5F;
    font-weight: 500;
    background: transparent;
}

.search:focus{
    outline: none;
}


/* -------------------------------------------PROFILE */


.profile-pic img{
    width: 60px;
    margin: 24px 90px 0px -30px;
}


/* -------------------------------------------TITLE BOX GALLERY */

.titleBox img{
    width: 41rem;
    display: block;
    margin: auto;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

/* -------------------------------------------IMAGES*/
.imgcontainer{
    max-width: 85%;
    margin:30px auto;
}



.imgcontainer .image-container{
    columns:5 250px;
    gap:15px;
}

.imgcontainer .image-container img{
    border-radius: 5px;
    width: 100%;
    margin: 0px 0px 10px 0px;
}

/* -------------------------------------------MODAL-BOX*/



.modal-box {
    display: none;
    position: fixed;
    align-content: center;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}



.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 5px;
    border: 1px solid #888;
    width: 28%;
    height: 68%;
    border-radius: 5px;
}

.modal-box h2{
    margin-bottom: 30px;
}

.modal-box label {
    margin: 0px 20px 0px 35px ;
}

.modal-box input{
    margin: 10px 20px 0px 35px ;
    width: 300px;
}

.modal-box button{
    width: 80%;
    height: 35px;
    margin: 27px 0px 20px 35px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(0, 117, 190);
    border:  none;
}

.submitbtn {
    float: right;
    width: auto;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
}

.modal-box a{
    color: #0272b3;
}

.modal-box a:hover{
    color: #0272b3;
    text-decoration: underline;
}

hr{
    width: 350px;
}

